################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TetrisGameCode-4TL.slnx/FileContentIndex
/.vs/TetrisGameCode-4TL.slnx/v17/ipch/AutoPCH
/.vs/TetrisGameCode-4TL.slnx/v17
